@media(max-width:844px) {

    .products_big_container {
        flex-direction: column;
        align-items: center;}

    .product_list{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 1vh;
        
       
    }

     .products_table{
        flex-direction: column;
        align-items: center;
    }

    .category_list{
        padding-top: 15vh;
    }

    .category_list h3{
        align-self: center;
    }
        
}

@media(min-width:845px){
.category_list{
    width: 20vw;
    padding-top: 10vh;
}
.product_list{
    width: 80vw;
    padding-top: 10vh;
    
}

h4{
    text-align: center;
}
}

