
@media(max-width: 844px) {
    .wishlist_first_container {
        padding-top: 15vh;
        display: flex;
        justify-content: center;
        width: 100vw;
    }
}

@media(min-width: 845px) {
    .wishlist_first_container {
        padding-top: 10vh;
        display: flex;
        justify-content: center;
        width: 100vw;
    }
}

.wishlist_container{
    flex-direction: column;
}

.wishlist_image{
    height: 70px;
    width: 110px ;
}

.wishlist_image_background{
    width: 100vw;
    height: 60vh;
    padding: 10px 40px 0px 40px;
    
    
}

.wishlist_title{
    position: absolute;
    margin-top: 35vh;
    margin-left: 6vw;
    color: black
  
}

.link_home_wishlist{
    color: black;
    position: absolute;
    margin-top: 40vh;
    text-decoration: none;
}

.link_produse_wishlist{
    color: black;
    position: absolute;
    margin-top: 40vh;
    margin-left: 10vw;
    text-decoration: none;
}

.wishlist_table_container{
    
    width: 100vw;
    padding: 40px;
    
    
   
}




