@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');


.footer_container{
    display: flex;
    background-color: gray;
    height: 18vh;
    width: 100vw;
    position: relative;
    bottom: 0;
    justify-content: space-between;
    
}
.footer_left{
    display: flex;
    flex-direction: column;
    width: 50vw;
}
.footer_left_links{
    display: flex;
}

.footer_container a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.footer_left_links p{
    color: white;
    font-size: 20px;
    font-family: 'Tilt Neon', cursive;
}

#footer_company_name{
    color: rgb(35, 43, 43);
    font-size: 16px;
    font-family: 'Tilt Neon', cursive;
    margin-top: -10px;
}

.footer_right{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.fotter_buttons{
    background-color: gray;
    border: none;
}





